absl-py==2.1.0
attrs==23.2.0
bidict==0.22.1
cycler==0.11.0
dnspython==2.6.1
eventlet==0.35.2
fonttools==4.43.0
greenlet==3.0.3
h11==0.16.0
importlib-metadata==6.7.0
kiwisolver==1.4.5
matplotlib==3.5.3
mediapipe==0.8.9.1
netifaces==0.10.6
numpy==1.22.0
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.2
Pillow==10.3.0
protobuf==4.25.8
pyparsing==3.1.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.0
pyzbar==0.1.9
simple-websocket==1.0.0
six==1.16.0
socketio==0.2.1
typing_extensions==4.7.1
wsproto==1.2.0
zipp==3.19.1
