absl-py==2.1.0
attrs==23.2.0
bidict==0.22.1
cycler==0.11.0
dnspython==2.3.0
eventlet==0.35.1
fonttools==4.38.0
greenlet==3.0.3
h11==0.14.0
importlib-metadata==6.7.0
kiwisolver==1.4.5
matplotlib==3.5.3
mediapipe==0.8.9.1
netifaces==0.10.6
numpy==1.21.6
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
packaging==23.2
Pillow==9.5.0
protobuf==3.20.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-engineio==4.9.0
python-socketio==5.11.0
simple-websocket==1.0.0
six==1.16.0
socketio==0.2.1
typing_extensions==4.7.1
wsproto==1.2.0
zipp==3.15.0